################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/packages/Newtonsoft.Json.13.0.1/packageIcon.png
/packages/Newtonsoft.Json.13.0.1/Newtonsoft.Json.13.0.1.nupkg
/packages/Newtonsoft.Json.13.0.1/LICENSE.md
/packages/Newtonsoft.Json.13.0.1/lib/netstandard2.0/Newtonsoft.Json.xml
/packages/Newtonsoft.Json.13.0.1/lib/netstandard2.0/Newtonsoft.Json.dll
/packages/Newtonsoft.Json.13.0.1/lib/netstandard2.0
/packages/Newtonsoft.Json.13.0.1/lib/netstandard1.3/Newtonsoft.Json.xml
/packages/Newtonsoft.Json.13.0.1/lib/netstandard1.3/Newtonsoft.Json.dll
/packages/Newtonsoft.Json.13.0.1/lib/netstandard1.3
/packages/Newtonsoft.Json.13.0.1/lib/netstandard1.0/Newtonsoft.Json.xml
/packages/Newtonsoft.Json.13.0.1/lib/netstandard1.0/Newtonsoft.Json.dll
/packages/Newtonsoft.Json.13.0.1/lib/netstandard1.0
/packages/Newtonsoft.Json.13.0.1/lib/net45/Newtonsoft.Json.xml
/packages/Newtonsoft.Json.13.0.1/lib/net45/Newtonsoft.Json.dll
/packages/Newtonsoft.Json.13.0.1/lib/net45
/packages/Newtonsoft.Json.13.0.1/lib/net40/Newtonsoft.Json.xml
/packages/Newtonsoft.Json.13.0.1/lib/net40/Newtonsoft.Json.dll
/packages/Newtonsoft.Json.13.0.1/lib/net40
/packages/Newtonsoft.Json.13.0.1/lib/net35/Newtonsoft.Json.xml
/packages/Newtonsoft.Json.13.0.1/lib/net35/Newtonsoft.Json.dll
/packages/Newtonsoft.Json.13.0.1/lib/net35
/packages/Newtonsoft.Json.13.0.1/lib/net20/Newtonsoft.Json.xml
/packages/Newtonsoft.Json.13.0.1/lib/net20/Newtonsoft.Json.dll
/packages/Newtonsoft.Json.13.0.1/lib/net20
/packages/Newtonsoft.Json.13.0.1/lib
/packages/Newtonsoft.Json.13.0.1/.signature.p7s
/packages/Newtonsoft.Json.13.0.1
/FlashCardsApplication/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/FlashCardsApplication/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/FlashCardsApplication/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/FlashCardsApplication/obj/Debug/FlashCardsApplication.pdb
/FlashCardsApplication/obj/Debug/FlashCardsApplication.exe
/FlashCardsApplication/obj/Debug/FlashCardsApplication.csprojResolveAssemblyReference.cache
/FlashCardsApplication/obj/Debug/FlashCardsApplication.csproj.FileListAbsolute.txt
/FlashCardsApplication/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/FlashCardsApplication/obj/Debug
/FlashCardsApplication/bin/Debug/Newtonsoft.Json.xml
/FlashCardsApplication/bin/Debug/Newtonsoft.Json.dll
/FlashCardsApplication/bin/Debug/FlashCardsApplication.vshost.exe.manifest
/FlashCardsApplication/bin/Debug/FlashCardsApplication.vshost.exe.config
/FlashCardsApplication/bin/Debug/FlashCardsApplication.vshost.exe
/FlashCardsApplication/bin/Debug/FlashCardsApplication.pdb
/FlashCardsApplication/bin/Debug/FlashCardsApplication.exe.config
/FlashCardsApplication/bin/Debug/FlashCardsApplication.exe
/FlashCardsApplication/bin/Debug
/FlashCardsApplication
